<div class="wii-info tab">
      <div class="wii-info__tiles">
        <h3>
            Services that made this possible
        </h3>
        <div class="wii-tile">

          <div class="icon-bubble">
            <a href="https://console.bluemix.net/catalog/services/investment-portfolio" target="_blank">
            <img src='/images/portfolio_service.svg' alt="investment portfolio api">
            </a>
          </div>
          <p>
            Investment Portfolio
          </p>
        </div>
        <div class="wii-tile">

          <div class="icon-bubble">
            <a href="https://console.bluemix.net/catalog/services/natural-language-understanding" target="_blank">
            <img src='/images/natural-language-understanding.svg' alt="watson natural language understanding">
            </a>
          </div>
          <p>
            Natural Language Understanding
          </p>
        </div>
        <div class="wii-tile">

          <div class="icon-bubble">
            <a href="https://console.bluemix.net/catalog/services/speech-to-text" target="_blank">
            <img src='/images/speech-to-text.svg' alt="watson speech to text">
            </a>
          </div>
          <p>
            Speech to Text
          </p>
        </div>
        <div class="wii-tile">

          <div class="icon-bubble">
            <a href="https://console.bluemix.net/catalog/services/visual-recognition" target="_blank">
            <img src='/images/vis_rec.svg' alt="watson visual recognition">
            </a>
          </div>
          <p>
            Visual Recognition
          </p>
        </div>
    </div>

      <div class="wii-info__text">
        <h4>
          What you can do next
        </h4>
          <p></p>

        <div class="wii-tile">
          <a href="https://portfolio-optimize.mybluemix.net" target="_blank">
            <h3>Rebalance your portfolio</h3>
          </a>
          <p><h5>
              Rebalance an investment portfolio based on a wide range of objectives and investor preferences such as avoiding sin stocks, focusing on socially responsible investments, or limiting contribution to asset classes, all while minimizing the overall volatility with respect to a benchmark.
          </h5></p>
        </div>

        <div class="wii-tile">
          <a href="https://predictive-market-stress-testing.mybluemix.net" target="_blank">
            <h4>Stress test your portfolio</h4>
          </a>
          <p><h5>
              Project the potential impact to your portfolio based on the result of a macroeconomic shock and its resulting, correlated effects on the rest of the market.
          </h5></p>
        </div>
       
        <div class="wii-tile">
          <a href="https://integrate-investment-portfolio.mybluemix.net/" target="_blank">
            <h4>Build a new portfolio</h4>
          </a>
          <p>
              <h5>Import a new portfolio from your personal brokerage using TradeIT.</h5>
          </p>
        </div>
      </div>
    </div>
  </div>
