<div class="header-bar">
	<div class="header-bar__home">
		<div class="header-bar__home__button">
			<strong>
				Portfolio TradeIT&nbsp;
			</strong>
		</div>
		<div class="header-bar__new">
			<button class="new-analysis Button secondary" aria-label="New Scenario">
				New Listener
			</button>
		</div>
	</div>
</div>
