<div class="header-bar">
	<div class="header-bar__home">
		<div class="header-bar__home__button">
			<strong>
				<a href="/" style="text-decoration: none; color: #ffffff;">Portfolio Trade.IT</a>
			</strong>
		</div>
		<div class="header-bar__new">
			<a href="/">
			<button class="new-analysis Button secondary" aria-label="New Scenario">
				New Brokerage
			</button>
			</a>
		</div>
	</div>
</div>
