<!DOCTYPE html>
<html>
<head>
    <title>Authentication Success</title>
    <link rel='stylesheet' href='/stylesheets/authConfirmed.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<h1>Request failed</h1>
    <p>{{data.shortMessage}}</p>
    <p>{{data.longMessage}}</p>

</body>

</html>
<script src="/javascripts/jquery-2.2.0.min.js"></script>
