body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none;
}

.trade {
  font-weight: bold;
  color: #466CFF;
}
.it {
  font-weight: bold;
  color: #102163;
}
.userInput {
  margin: 0 auto;
}