body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.hidden {
    display: none;
}

.trade {
    font-weight: bold;
    color: #466CFF;
}
.it {
    font-weight: bold;
    color: #102163;
}

li {
    list-style: none;
}

#cancel {
    margin-right: 10px;
}

.title {
    margin-top: 20px;
}

#reviewOrder {
    margin-top: 20px;
}

#reviewScreen {
    font-size: large;
}
